body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  background: url(images/HighWay.jpg);
}

/* navbar */

/*JO*/
.btn-gb1{
  margin-bottom:20px;
}
.btn-gb{
  margin-bottom:40px;
}
.btn-bg{
  background-color: rgb(19, 132, 150);
  text-decoration-color: white;
  border-radius: 4px;
  margin-right: 1%;
  margin-bottom:60px;
  color: white;
  border: #0366fc;
}
.sidebarc{
  background-color:rgb(56, 91, 204);
  height: 120vh;
  }
.navbarc{
  background-color:rgb(252, 205, 61);
}


.sidebar {
  height: 100vh;
  background: linear-gradient(rgb(56, 91, 204), rgb(1, 9, 20)), url(images/truck.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all .4s;
}

.sidebar-link:hover {
  background-color: rgb(252, 205, 61);
;
  border-radius: 5px;
}
/*navbar*/
.current {
  background-color:rgb(252, 205, 61);
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}

.current:hover {
  background-color: rgb(252, 205, 61);
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;
}

.search-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}

.icon-parent {
  position: relative;
}

.icon-bullet::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: #0A5298
;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
  }
}
/* end of navbar */

/* cards */
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}
/* end of cards */

/* task list */
.task-border {
  border-left: 3px solid #f66436;
}
/* end of task list */















